body {
    font-family: "Ogg";
    background-color: #f0f0f0;
    text-align: center;
}

.converter-container {
    background-color: #f6fa1b;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
}

.input-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #f6ae67;
    border-radius: 3px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #17e7f6;
    color: #1b1111;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #cd4785;
}
